:root {
    /* Layout */
    --main-content-right-margin: 3rem;
    --max-main-content-width: calc(60rem + var(--main-content-right-margin));
    --main-content-width: 63vw;

    --content-left-margin: 6.3rem;
    --site-horizontal-margin: 2.1rem;
    --site-header-height: 10rem;
    --site-footer-height: 3rem;

    --navigation-horizontal-padding: 1.2rem;

    /* Colors */
    --default-copy-color: rgba(0, 0, 0, 0.7);
    --primary-accent-color: rgba(0, 132, 255, 1);
    --bus-route-color: rgba(0, 132, 255, 0.3);

    /* Development */
    --highlight-red: rgba(255, 0, 0, 0.1);
    --highlight-yellow: rgba(255, 255, 0, 0.1);
    --highlight-blue: rgba(0, 0, 255, 0.1);
}

html {
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: var(--default-copy-color) transparent;
}

html,
body {
    margin: 0;
}

body {
    color: var(--default-copy-color);
    display: flex;
    flex-direction: column;
    font-family: 'Inter', 'Arial', sans-serif;
    min-height: 100%;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
}