:root {
    /* Layout */
    --primary-content-right-margin: 6rem;
    --max-primary-content-width: calc(60rem + var(--primary-content-right-margin));
    --primary-content-width: 63vw;

    --content-left-margin: 6.3rem;
    --site-horizontal-margin: 2.1rem;
    --site-header-height: 10rem;
    --site-footer-height: 3rem;

    /* Colors */
    --default-copy: rgba(0, 0, 0, 0.7);
    --primary-accent: rgba(0, 132, 255, 1);

    /* Development */
    --highlight-red: rgba(255, 0, 0, 0.1);
    --highlight-yellow: rgba(255, 255, 0, 0.1);
    --highlight-blue: rgba(0, 0, 255, 0.1);
}

html {
    height: 100%;
}

html,
body {
    margin: 0;
}

body {
    color: var(--default-copy);
    display: flex;
    flex-direction: column;
    font-family: 'Inter', 'Arial', sans-serif;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}