:root {
    /* Layout */
    --main-content-right-margin: 3rem;
    --max-main-content-width: calc(60rem + var(--main-content-right-margin));
    --main-content-width: 63vw;

    --content-left-margin: 8.5rem;
    --section-padding-top: 4rem;
    --site-header-height: 10rem;
    --site-footer-height: 3rem;

    --navigation-horizontal-padding: 1.2rem;

    /* Colors */
    --default-copy-color: rgba(0, 0, 0, 0.7);
    --header-accent-color: rgba(0, 0, 0, 0.6);
    --bus-route-color: rgba(0, 132, 255, 0.3);

    /* Development */
    --highlight-red: rgba(255, 0, 0, 0.1);
    --highlight-yellow: rgba(255, 255, 0, 0.1);
    --highlight-blue: rgba(0, 0, 255, 0.1);
}

html {
    height: 100%;
    font-synthesis: none;   /* Disable browser synthesis of font styles and weights if the typeface is missing */
}

html,
body {
    margin: 0;
}

body {
    --background-transition-duration: 500ms;
    font-family: 'Inter', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
    font-size: 1.125rem;
}

body > .page {
    overflow: auto;
}

:focus {
    outline: none;
}

:not(:hover):focus {
    outline: 4px solid var(--primary-accent-color);
    mix-blend-mode: difference;
}
