/* TODO: Automate font-face declarations to pull in from Google Fonts */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
         url('../fonts/montserrat-v15-latin-600.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v15-latin-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter V';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: local('Inter V'), local('Inter-V'),
         url('../fonts/inter-v3.15-latin-var.woff2') format('woff2');
    unicode-range: U+0000-007F,U+00A0-0100,U+0131,U+0152-0154,U+02BB-02BD,U+02C6,U+02DA,U+02DC,U+2000-200C,U+2010-2028,U+202F-2060,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+FEFF;
    font-named-instance: 'Regular';
}

@font-face {
    font-family: 'Inter V';
    font-style: oblique 0deg 10deg;
    font-weight: 100 900;
    font-display: swap;
    src: local('Inter V'), local('Inter-V'),
         url('../fonts/inter-v3.15-latin-var.woff2') format('woff2');
    unicode-range: U+0000-007F,U+00A0-0100,U+0131,U+0152-0154,U+02BB-02BD,U+02C6,U+02DA,U+02DC,U+2000-200C,U+2010-2028,U+202F-2060,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+FEFF;
    font-named-instance: 'Italic';
}

:root {
    /* Layout */
    --main-content-right-margin: 3rem;
    --max-main-content-width: calc(60rem + var(--main-content-right-margin));
    --main-content-width: 63vw;

    --content-left-margin: 8.5rem;
    --section-padding-top: 4rem;
    --site-header-height: 12rem;
    --site-footer-height: 3rem;

    --navigation-horizontal-padding: 1.2rem;
    --scrollbar-width: 7px;     /* Only applies to browsers that support ::-webkit-scrollbar */
    --scrollbar-mask-width: 1rem;
    --lettermark-offset: 6.3rem;

    /* Colors */
    --default-copy-color: rgba(0, 0, 0, 0.7);
    --header-accent-color: rgba(0, 0, 0, 0.6);
    --bus-route-color: rgba(0, 132, 255, 0.3);
    --scrollbar-background-color: transparent;

    /* Development */
    --highlight-red: rgba(255, 0, 0, 0.1);
    --highlight-yellow: rgba(255, 255, 0, 0.1);
    --highlight-blue: rgba(0, 0, 255, 0.1);
}

html {
    height: 100%;
    font-synthesis: none;   /* Disable browser synthesis of font styles and weights if the typeface is missing */
}

html,
body {
    margin: 0;
}

body {
    --background-transition-duration: 500ms;
    font-family: 'Inter V', 'Roboto', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
    font-size: 1.125rem;
}

body > .page {
    overflow: visible;
}

:focus {
    outline: none;
}

:not(:hover):focus {
    outline: 4px solid var(--primary-accent-color);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--default-copy-color) var(--scrollbar-background-color);
}

*::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-background-color);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--default-copy-color);
}

article .lede {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    opacity: 0.7;
}

sup {
    line-height: 0;
}

@keyframes show-lede {
    from {
        opacity: 0;
        transform: translateY(0);
    }

    to {
        opacity: 1;
        transform: translateY(-4rem);
    }
}