@import "compass/css3";
@import "compass/css3/selection";

// Colour
$body-colour: #4a4a4a;
$body-border-colour: #1a3c44;
$link-colour: #1d8cbf;
$navigation-link-colour: #205a67; 
$header-colour: #205a67;
$selection-colour: rgb(218, 244, 255);


// Layout
$navigation-width: 355px;

// Typography
$base-font-stack: "Hind", sans-serif;
$decorative-font-stack: "Lato", sans-serif;

html {
    font-size: 16px;
    height: 100%;
}

* {
    @include selection($selection-colour);
}

body {
    color: $body-colour;
    font: 300 1.25rem/1.5 $base-font-stack;
    height: 100%;
    
    > header {
        border-top: 6px solid $body-border-colour;
        color: $header-colour;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        line-height: 1;
        padding-left: $navigation-width;
        
        a:link {
            color: $header-colour;
        }
        
        h1 {
            font-size: 50px;
            font-weight: 700;
            letter-spacing: -0.5px;
            margin: 0 0 5px;
            
            + span {
                //color: transparentize($header-colour, 0.36);
                font-family: $decorative-font-stack;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 0.7px;
                text-transform: uppercase;
            }
        }
        
        + div {
            display: inline-flex;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

a {
    text-decoration: none;
    
    &:link,
    &:visited {
        color: $link-colour;
    }
}

section {
    
    h1 {
        color: transparentize($header-colour, 0.36);
        font-family: $decorative-font-stack;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0.8px;
        text-transform: uppercase;
    }
}

nav {
    @include user-select(none);
    width: $navigation-width;
    
    ul {
        list-style: none;
        margin: 0;
        padding: 100px 150px 0 0;
        text-align: right;
    }
    
    li {
        color: $header-colour;
        cursor: default;
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 15px;
        
        &.selected {
            font-weight: 600;
        }
    }
    
    a {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        text-decoration: none;
        
        &:link,
        &:visited {
            color: $header-colour;
        }
        
        &:hover,
        &:active {
            color: $link-colour;
        }
    }
}

main {
    width: 725px;
}

p {
    
    .action {         
        @include user-select(none);
        font-family: $decorative-font-stack;
        font-size: 15px;
        letter-spacing: 0.8px;
        text-transform: uppercase;
    }
}

.heading-list {
    list-style: none;
    padding: 0;
    
    h2 {
        margin: 0;
        padding: 0;
        
        + p {
            margin-top: 0;
        }
    }
}
