@import "normalize";

:root {
  // Colors
  --accent-color: #f80;
  --high-contrast-copy-color: #fff;
  --high-contrast-background-color: --accent-color;
  --positive-color: #00a321;
  --call-to-action-link-color: #fff;
  --copy-color: #707070;
  --heading-color: #3d3d3d;

  // Layout
  --max-content-width: 68rem;
  --content-padding: 2rem;
}

// Mixins
@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Cross-Cutting

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Accessibility

.skip-to-content {
  background-color: var(--high-contrast-background-color);
  color: var(--high-contrast-copy-color);
  font-weight: 600;
  outline: none;
  padding: 0.5rem 0.7rem;
  position: absolute;
  text-decoration: none;
  transform: translate(0, -100%);
  transition: transform 300ms;
  width: 100%;
  z-index: 1000;

  &:hover,
  &:focus {
    transform: none;
  }
}

// General

html {
  height: 100%;

  // TODO: Implement scrollbar in Firefox
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Proxima Nova";
  min-height: 100%;
  line-height: 1.4;
}

.page-header {
  background-color: #fff;
  border-top: 7px solid var(--accent-color);
  position: sticky;
  top: 0;
}

main {
  flex: 1;
}

.page-header,
main,
.page-footer {
  padding: 0 1rem;
}

.nameplate,
.page-content,
.colophon {
  margin: 0 auto;
  max-width: var(--max-content-width);
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}

h1 {
  @include visually-hidden;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 3.5rem;
  text-transform: uppercase;
}

// Page nameplate

.nameplate {
  --border-color: rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 3rem 0 0;
  box-shadow: 0 2px 0 0 var(--border-color);

  .logotype {
    transform: translate(-20.2%, 21%);
  }
}

.top-level-navigation {
  --link-color: #a1a1a1;
  --link-background-color: #eee;
  --link-active-color: var(--heading-color);
  font-size: 1.375rem;

  li {
    position: relative;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &:hover {

      li {

        &.active span {

          &::after {
            content: "";
          }
        }
      }
    }
  }

  .active {

    span {
      color: var(--link-active-color);
      font-weight: 600;
    }
  }

  .active span,
  a {
    padding: 0.5rem 1.9rem 2.7rem;
    transition: color 200ms;
    display: block;
  }

  a:link {
    text-decoration: none;
  }

  li:not(.call-to-action) {

    &.active span,
    a:focus,
    a:hover {

      &::after {
        color: var(--accent-color);
        content: "\2022";
        font-size: 2.4rem;
        left: 0;
        line-height: 0;
        position: absolute;
        text-align: center;
        top: 65%;
        width: 100%;
      }
    }

    a {

      &:link,
      &:visited {
        color: var(--link-color);
        text-decoration: none;
      }

      &:focus,
      &:hover {
        color: var(--link-active-color);
      }
    }
  }

  .call-to-action {
    margin-left: 1.5rem;

    a {
      border-radius: 4px;
      padding: 0.5rem 1.1rem 0.45rem;
      font-weight: 600;
      box-shadow: 0 0 0 2px inset var(--positive-color);

      &:link,
      &:visited {
        color: var(--call-to-action-link-color);
        background-color: var(--positive-color);
      }

      &:focus,
      &:hover {
        color: var(--positive-color);
        background-color: var(--call-to-action-link-color);
      }
    }
  }
}

// Dek

.dek {
  border-bottom: 2px solid #eee;
  color: var(--copy-color);
  font-size: 1.625rem;
  padding: 3rem 0;

  p {
    margin: 0;
  }
}

// Project list

.projects {
  --tile-background-color: #f3f9ff;
  --tile-header-color: #003D7A;
  --tile-gap: 25px;

  h3 {
    color: inherit;
    font-size: 1.4rem;
    margin: 0 0 1rem;
  }

  ul {
    align-items: flex-start;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    margin-right: calc(var(--tile-gap) * -1);
    justify-content: left;
  }

  li {
    --square-dimension: calc(25% - var(--tile-gap));
    background-color: var(--tile-background-color);
    border-radius: 4px;
    color: var(--tile-header-color);
    flex: 0 0 var(--square-dimension);
    font-size: 1.125rem;
    margin-right: var(--tile-gap);
    width: calc(100% + var(--tile-gap));

    > a {
      --top-padding: 1.3rem;
      height: 0;
      padding: var(--top-padding) 1.6rem calc(100% - var(--top-padding));
      display: block;

      &:link,
      &:visited {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
