@import "normalize";

:root {
  // Colors
  --dark-blue: #314c67;
  --baby-blue: #f3f9ff;
  --off-baby-blue: #e8f4ff;

  --border-color: #eee;
  --accent-color: #f80;
  --high-contrast-copy-color: #fff;
  --high-contrast-background-color: var(--accent-color);
  --positive-color: #00a321;
  --call-to-action-link-color: #fff;
  --copy-color: #707070;
  --heading-color: #3d3d3d;

  // Layout
  --max-content-width: 68rem;
  --content-padding: 2rem;
  --page-header-height: 11rem;

  // Timing
  --scroll-transition-duration: 300ms;
}

// Mixins
@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin button {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--positive-color);
  border-radius: 4px;
  box-shadow: 0 0 0 2px inset var(--positive-color);
  padding: 0.4em 0.8em 0.35em;
  display: block;
}

// Cross-Cutting

*,
*::before,
*::after {
  box-sizing: border-box;
}

img:-moz-loading {
  visibility: hidden;
}

::selection {
  color: #fff;
  background: var(--dark-blue);
}

section,
header {

  &.anonymous {

    > h1, > h2, > h3, > h4, > h5, > h6 {
      @include visually-hidden;
    }
  }
}

p,
ul {
  font-size: 1.25rem;
  line-height: 1.5;
}

ul {
  padding: 0;

  &.responsibilities {

    li {
      margin-bottom: 0.4rem;
    }
  }
}

.portrait {
  border-radius: 4px;
}

// Accessibility

.skip-to-content {
  background-color: var(--high-contrast-background-color);
  color: var(--high-contrast-copy-color);
  font-weight: 600;
  outline: none;
  padding: 0.5rem 0.7rem;
  position: absolute;
  text-decoration: none;
  transform: translate(0, -100%);
  transition: transform 300ms;
  width: 100%;
  z-index: 1000;

  &:hover,
  &:focus {
    transform: none;
  }
}

// General

html {
  height: 100%;

  // TODO: Implement scrollbar in Firefox
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Proxima Nova";
  min-height: 100%;
  line-height: 1.4;

  &:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 7px;
    background-color: var(--accent-color);
    z-index: 1000;
    transform-origin: 0 0;
    transition: transform 400ms;

    .page-scrolled & {
      transform: scaleY(0.5);
    }
  }
}

.page-header {
  opacity: 0;
  background-color: #fff;
  display: flex;
  font-size: 1rem;
  height: var(--page-header-height);
  min-height: 9.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  user-select: none;

  .no-js & {
    opacity: 1;
  }
}

main {
  flex: 1;
  margin-top: var(--page-header-height);
}

.page-header,
main,
.page-footer {
  padding: 0 1rem;
}

.nameplate,
.page-content,
.colophon {
  margin: 0 auto;
  max-width: var(--max-content-width);
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.company-name,
.job-title {
  margin: 0;
}

.company-name {
  font-size: 1.4rem;
}

.division-name {
  font-size: 1.3rem;
}

.role-byline {
  color: #fff;
  margin: 2rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 400;
}

.job-title {
  font-size: 1.4rem;
  color: var(--copy-color);
}

.timeframe {
  text-transform: uppercase;
  color: var(--copy-color);
  letter-spacing: 0.5px;
}

// Page nameplate

.nameplate {
  --border-color: rgba(0, 0, 0, 0.07);
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 2px 0 0 var(--border-color);

  .logotype {
    --x-translation: -20.3%;
    --y-translation: calc(1rem - 54%);
    height: calc(2rem + 18%);
    transform: translate(var(--x-translation), var(--y-translation));

    img {
      height: 100%;
    }
  }
}

.top-level-navigation {
  --link-color: #a1a1a1;
  --link-background-color: #eee;
  --link-active-color: var(--heading-color);
  display: flex;
  font-size: calc(0.375em + 1rem);
  height: calc(20% + 2rem);

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &:hover,
    &:focus-within {

      li {

        &.active span {

          &::after {
            content: "";
          }
        }
      }
    }

    li {

      &.active span,
      &.active:hover span,
      a:focus,
      a:hover {

        &::after {
          color: var(--accent-color);
          content: "\2022";
          font-size: 1.3em;
          left: 0;
          line-height: 0.9;
          position: absolute;
          width: 100%;
        }
      }
    }
  }

  li {
    position: relative;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active span,
    a {
      display: block;
      height: 100%;
      padding: 0.5em 1em 1em;
      transition: color 200ms;
    }

    a {

      &:link,
      &:visited {
        color: var(--link-color);
        text-decoration: none;
      }

      &:focus,
      &:hover {
        color: var(--link-active-color);
      }
    }
  }

  .active {

    span {
      color: var(--link-active-color);
      font-weight: 600;
    }
  }

  a:link {
    text-decoration: none;
  }

  .call-to-action {
    margin-left: 0.8em;
    font-weight: 600;

    a {
      @include button;

      &:link,
      &:visited {
        color: var(--call-to-action-link-color);
        background-color: var(--positive-color);
      }

      &:focus,
      &:hover {
        color: var(--positive-color);
        background-color: var(--call-to-action-link-color);
      }
    }
  }
}

// Content header

.content-header {
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--border-color);
  padding: 2rem 0;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  h1 {
    font-weight: 600;
    margin: 1.5rem 0 0;
  }
}

.dek,
.summary,
.lede {
  color: var(--copy-color);
  font-size: 1.625rem;
  line-height: calc(36 / 26);
  margin: 1rem 0;
}

.dek {

  p {
    font-size: inherit;
    margin: 0;
  }
}

// Project list

.projects {
  --tile-background-color: var(--baby-blue);
  --tile-background-shadow-color: var(--off-baby-blue);
  --tile-header-color: var(--dark-blue);
  --tile-gap: 25px;
  --project-group-title-margin-top: 3.5rem;
  --project-group-title-margin-bottom: 1.5rem;
  --project-group-title-height: 1.6rem;
  --spotlight-radius: 200px;

  h2 {
    height: var(--project-group-title-height);
    margin-top: var(--project-group-title-margin-top);
    margin-bottom: var(--project-group-title-margin-bottom);
  }

  h3 {
    color: inherit;
    font-size: 1.4rem;
    margin: 0 0 1rem;
  }

  ul {
    align-items: flex-start;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    margin-right: calc(var(--tile-gap) * -1);
    justify-content: left;
  }

  li {
    --square-dimension: calc(25% - var(--tile-gap));
    color: var(--tile-header-color);
    flex: 0 0 var(--square-dimension);
    font-size: 1.125rem;
    margin-right: var(--tile-gap);
    position: relative;
    width: calc(100% + var(--tile-gap));

    &::after {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }

    &.cross-cutting {

      a {
        height: calc(200% + var(--project-group-title-margin-top) + var(--project-group-title-height) + var(--project-group-title-margin-bottom));
      }
    }

    > a {
      display: block;
      padding: 1.3rem 1.6rem;
      border-radius: 4px;
      background: var(--tile-background-color);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background-color 300ms;

      h3, p {
        position: relative;
        line-height: 1.35;
        z-index: 2;
      }

      p {
        font-size: inherit;
      }

      &:link,
      &:visited {
        color: inherit;
        text-decoration: none;
      }

      &:hover,
      &:focus {
        background: var(--tile-background-shadow-color);
      }
    }
  }

  .ux-design {

    li:last-child {
      margin-left: auto;
    }
  }
}

// Footer

.page-footer {
  background-color: var(--dark-blue);
  color: #fff;
  margin-top: 8rem;

  .colophon {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;

    small {
      font-size: 1rem;
    }

    .easter-egg {
      font-size: 0.9rem;
      text-decoration: none;

      &:link {
        color: rgba(255, 255, 255, 0.4);
      }
    }
  }
}

// Article layouts
article {
  --whitespace-width: 25rem;

  .body-copy {
    display: flex;
    flex-wrap: wrap;
  }

  p:last-child {

    &::after {
      content: "\2022";
      color: var(--accent-color);
      font-size: 3rem;
      line-height: 0;
      vertical-align: -0.3rem;
    }
  }
}

.biography {
  --gutter-width: 3rem;
  margin-left: var(--whitespace-width);

  img {
    float: left;
    margin-left: calc(var(--whitespace-width) * -1);
    width: calc(var(--whitespace-width) - var(--gutter-width));
    margin-top: 0.6rem;
  }
}

.résumé {

  > header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .button {
      @include button;
    }
  }

  h2 {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--border-color);
  }

  .expertise {
    order: 2;
    flex: 2;

    p,
    ul {
      font-size: 1.1rem;
    }

    ul {
      list-style: none;
    }
  }

  .work-history {
    order: 1;
    flex: 5;
    margin-right: 4rem;

    p,
    ul {
      font-size: 1.2rem;
    }
  }

  .role-description {
    margin-top: 0.5rem;
  }
}

.project {

  p {
    margin-right: var(--whitespace-width);
  }

  pre {
    background-color: var(--baby-blue);
    border-radius: 4px;
    overflow-x: auto;
    padding: 1.3rem;
  }
}

// Syntax highlighting

code {
  color: var(--dark-blue);
  font-family: Consolas, monospace;

  .variable {
    filter: brightness(0%);
    font-weight: bold;
  }

  .string {
    filter: hue-rotate(70deg) saturate(200%);
  }

  .type {
    filter: hue-rotate(-50deg) brightness(180%);
  }

  .comment {
    filter: brightness(180%);
  }

  .keyword {
    font-style: italic;
  }
}
