@import "normalize";

:root {
  // Colors
  --dark-blue: #314c67;
  --accent-color: #f80;
  --high-contrast-copy-color: #fff;
  --high-contrast-background-color: var(--accent-color);
  --positive-color: #00a321;
  --call-to-action-link-color: #fff;
  --copy-color: #707070;
  --heading-color: #3d3d3d;

  // Layout
  --max-content-width: 68rem;
  --content-padding: 2rem;
  --page-header-height: 11rem;

  // Timing
  --scroll-transition-duration: 300ms;
}

// Mixins
@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Cross-Cutting

*,
*::before,
*::after {
  box-sizing: border-box;
}

img:-moz-loading {
  visibility: hidden;
}

// Accessibility

.skip-to-content {
  background-color: var(--high-contrast-background-color);
  color: var(--high-contrast-copy-color);
  font-weight: 600;
  outline: none;
  padding: 0.5rem 0.7rem;
  position: absolute;
  text-decoration: none;
  transform: translate(0, -100%);
  transition: transform 300ms;
  width: 100%;
  z-index: 1000;

  &:hover,
  &:focus {
    transform: none;
  }
}

// General

html {
  height: 100%;

  // TODO: Implement scrollbar in Firefox
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Proxima Nova";
  min-height: 100%;
  line-height: 1.4;

  &:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 7px;
    background-color: var(--accent-color);
    z-index: 1000;
  }
}

.page-header {
  opacity: 0;
  background-color: #fff;
  display: flex;
  font-size: 1rem;
  height: var(--page-header-height);
  min-height: 9.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .no-js & {
    opacity: 1;
  }
}

main {
  flex: 1;
  margin-top: var(--page-header-height);
}

.page-header,
main,
.page-footer {
  padding: 0 1rem;
}

.nameplate,
.page-content,
.colophon {
  margin: 0 auto;
  max-width: var(--max-content-width);
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}

h1 {
  @include visually-hidden;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

// Page nameplate

.nameplate {
  --border-color: rgba(0, 0, 0, 0.07);
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 2px 0 0 var(--border-color);

  .logotype {
    --x-translation: -20.3%;
    --y-translation: calc(1rem - 54%);
    height: calc(2rem + 18%);
    transform: translate(var(--x-translation), var(--y-translation));

    img {
      height: 100%;
    }
  }
}

.top-level-navigation {
  --link-color: #a1a1a1;
  --link-background-color: #eee;
  --link-active-color: var(--heading-color);
  display: flex;
  font-size: calc(0.375em + 1rem);
  height: calc(20% + 2rem);

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &:hover,
    &:focus-within {

      li {

        &.active span {

          &::after {
            content: "";
          }
        }
      }
    }

    li {

      &.active span,
      &.active:hover span,
      a:focus,
      a:hover {

        &::after {
          color: var(--accent-color);
          content: "\2022";
          font-size: 1.3em;
          left: 0;
          line-height: 0.9;
          position: absolute;
          width: 100%;
        }
      }
    }
  }

  li {
    position: relative;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active span,
    a {
      display: block;
      height: 100%;
      padding: 0.5em 1em 1em;
      transition: color 200ms;
    }

    a {

      &:link,
      &:visited {
        color: var(--link-color);
        text-decoration: none;
      }

      &:focus,
      &:hover {
        color: var(--link-active-color);
      }
    }
  }

  .active {

    span {
      color: var(--link-active-color);
      font-weight: 600;
    }
  }

  a:link {
    text-decoration: none;
  }

  .call-to-action {
    margin-left: 0.8em;
    font-weight: 600;

    a {
      border-radius: 4px;
      box-shadow: 0 0 0 2px inset var(--positive-color);
      display: block;
      height: auto;
      padding: 0.4em 0.8em 0.35em;

      &:link,
      &:visited {
        color: var(--call-to-action-link-color);
        background-color: var(--positive-color);
      }

      &:focus,
      &:hover {
        color: var(--positive-color);
        background-color: var(--call-to-action-link-color);
      }
    }
  }
}

// Dek

.dek {
  border-bottom: 2px solid #eee;
  color: var(--copy-color);
  font-size: 1.625rem;
  padding: 3rem 0;

  p {
    margin: 0;
  }
}

// Project list

.projects {
  --tile-background-color: #f3f9ff;
  --tile-background-shadow-color: #e8f4ff;
  --tile-header-color: var(--dark-blue);
  --tile-gap: 25px;
  --project-group-title-margin-top: 3.5rem;
  --project-group-title-margin-bottom: 1.5rem;
  --project-group-title-height: 1.6rem;
  --spotlight-radius: 200px;

  h2 {
    height: var(--project-group-title-height);
    margin-top: var(--project-group-title-margin-top);
    margin-bottom: var(--project-group-title-margin-bottom);
  }

  h3 {
    color: inherit;
    font-size: 1.4rem;
    margin: 0 0 1rem;
  }

  ul {
    align-items: flex-start;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    margin-right: calc(var(--tile-gap) * -1);
    justify-content: left;
  }

  li {
    --square-dimension: calc(25% - var(--tile-gap));
    color: var(--tile-header-color);
    flex: 0 0 var(--square-dimension);
    font-size: 1.125rem;
    margin-right: var(--tile-gap);
    position: relative;
    width: calc(100% + var(--tile-gap));

    &::after {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }

    &.cross-cutting {

      a {
        height: calc(200% + var(--project-group-title-margin-top) + var(--project-group-title-height) + var(--project-group-title-margin-bottom));
      }
    }

    > a {
      display: block;
      padding: 1.3rem 1.6rem;
      border-radius: 4px;
      background: radial-gradient(circle at var(--center-x, -100%) var(--center-y, -100%),
                                  var(--tile-background-shadow-color) var(--spotlight-radius),
                                  transparent var(--spotlight-radius)
                  ),
                  var(--tile-background-color);
      background-attachment: fixed;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      h3, p {
        position: relative;
        z-index: 2;
      }

      &:link,
      &:visited {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .ux-design {

    li:last-child {
      margin-left: auto;
    }
  }
}

// Footer

.page-footer {
  background-color: var(--dark-blue);
  color: #fff;
  margin-top: 8rem;

  .colophon {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

    small {
      font-size: 1rem;
    }

    .easter-egg {
      font-size: 0.9rem;
      text-decoration: none;

      &:link {
        color: rgba(255, 255, 255, 0.4);
      }
    }
  }
}
